.games-view {
  padding: 0 4vw;
}

.games-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.games-text-title {
  margin-block-end: 0px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.loader {
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
