.memory-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 40px;
}

.tablero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tablero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-size: 12px;
  margin-bottom: 20px;
}

.fila {
  display: flex;
}

.celda {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-collapse: collapse;
  padding: 2px;
  aspect-ratio: 1 / 1;
  width: 8.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.celda.selected {
  background-color: #2b8aef !important;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;
}

/* estilos individuales */
.btn.reset {
  background: #f5f5f5;
  color: #333;
  border-color: #ddd;
}

.btn.validate {
  background: #2b8aef;
  color: white;
  border-color: rgba(43, 138, 239, 0.9);
}

.memory-image {
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.memory-text-description {
  text-align: center;
  white-space: pre-line;
}
