.countdown-container {
  text-align: center;
  background-color: var(--warm-brown);
  padding: 1.5rem;
  border-radius: 15px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.countdown-timer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.time-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-value {
  font-size: 3.2rem;
  font-weight: bold;
}

.time-label {
  font-size: 1rem;
  margin-top: 0.5rem;
}
