/* Estilos del propio marcador */
.admin-player {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
  padding: 12px;
  border-radius: 10px;
  background: linear-gradient(180deg, #fff, #fbfbfb);
  border: 1px solid black;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  min-height: 72px;

  .admin-player__achievements {
    display: none;
  }
  .admin-player__achievements--open {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    background: white;
    border: 1px solid black;
    border-radius: 6px;
    z-index: 10;

    .admin-player__achievement--assigned {
      background-color: #7cd7a8;
    }

    .admin-player__achievement {
      margin-bottom: 4px;
      white-space: nowrap;
      padding: 0 8px;

      .admin-player__achievement-title {
        font-size: 12px;
        color: #0f172a;
      }
    }
  }
}

/* Imagen */
.admin-player__media {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .user-avatar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    > img {
      width: 30px;
      height: 30px;
    }
    > img:first-child {
      position: absolute;
      bottom: -8px;
      right: -8px;
    }
    > img:nth-child(2) {
      position: absolute;
      top: -8px;
      right: -8px;
    }
    > img:nth-child(3) {
      position: absolute;
      top: -8px;
      left: -8px;
    }
    > img:nth-child(4) {
      position: absolute;
      bottom: -8px;
      left: -8px;
    }
  }
}

.admin-player__image {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f5f9;
  border: 1px solid black;
  object-fit: cover;
  display: block;
}

/* Texto / cuerpo */
.admin-player__body {
  display: flex;
  flex-direction: column;
}

.admin-player__title {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  color: #0f172a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-block-start: 0;
}

/* Estado eliminado */
.admin-player-eliminated {
  opacity: 0.7;
  filter: grayscale(70%);
}

.admin-player__actions {
  display: flex;
  gap: 8px;

  .admin-player__eliminate {
    background-color: #b22929;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 38px;
  }

  .admin-player__save {
    background-color: #849b82;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 38px;
  }
}
