.admin-games-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;

  .admin-reward-resume {
    text-align: center;
  }
  .btn-generate-bingo {
    background-color: #7d56b3;
    color: white;
  }

  .admin-games-shop-state {
    display: flex;
    margin-top: 10px;
    gap: 15px;
    align-items: center;
  }
}

.admin-games-divider {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #56330d;
  width: 90%;
}

.admin-games-buttons {
  display: flex;
  gap: 40px;
  .btn-play {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    background-color: #0068c3;
    color: white;
    cursor: pointer;
  }
  .btn-save {
    background-color: #82b190;
    cursor: pointer;
    padding: 0 30px;
    border: 1px solid black;
  }
}

.btn-happy-hour {
  &.btn-happy-hour-inactive {
    background-color: white;
    color: black;
  }
  &.btn-happy-hour-active {
    background-color: black;
    color: white;
  }
}

.btn-reload-db {
  margin-top: 30px;
  background-color: #f0ad4e;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.admin-games__score-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  .admin-games__score-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .admin-player__field {
      display: flex;
      gap: 6px;
      align-items: center;
    }
  }
  .admin-group-save {
    border-radius: 50%;
    border: none;
    cursor: pointer;
    width: 30px;
    display: none;
    height: 30px;
    &.admin-group-save--active {
      display: block;
    }
  }
}

.admin-games__multiselector {
  display: none;
}
.admin-games__multiselector--open {
  display: block;
  border: 1px solid #27231e;
  padding: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transform: translateY(-12px);
  background-color: #dbdbd6;
}

.admin-games__multiselector-selected {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #27231e;
  background-color: #dbdbd6;
  padding: 4px 10px;
  width: 100%;
  min-height: 32px;
  border-radius: 5px;
  gap: 6px;
  .admin-games__multiselector-player-selected {
    display: flex;
    gap: 6px;
    align-items: center;
    border: 1px solid #3b352e;
    background-color: #adbcc9;
    padding: 3px 6px;
    border-radius: 20px;
  }
}

.admin-games__multiselector-player {
  padding: 3px 6px;
}

.admin-rewards-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.admin-multiselector-container,
.admin-single-reward-container,
.admin-clasificate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
  gap: 10px;
  width: 100%;
  background-color: #a8afaa;
  border: 1px solid #27231e;
  border-radius: 5px;
}

.admin-tabs {
  display: flex;
  gap: 10px;
  .admin-tab {
    padding: 6px 12px;
    border-radius: 5px 5px 0 0;
    background-color: #dbdbd6;
    border: 1px solid #27231e;

    border-bottom: none;
    cursor: pointer;
    &.admin-tab-active {
      background-color: #a8afaa;
      transform: translateY(1.5px);
    }
  }
}

.admin-games__clasificate-selected,
.admin-games__single-reward-selected {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid #27231e;
  background-color: #dbdbd6;
  padding: 4px 10px;
  width: 100%;
  min-height: 32px;
  border-radius: 5px;
  gap: 6px;
  .admin-games__clasificate-player-selected,
  .admin-games__single-reward-player-selected {
    display: flex;
    gap: 6px;
    align-items: center;
    width: fit-content;
    border: 1px solid #3b352e;
    background-color: #adbcc9;
    padding: 3px 6px;
    border-radius: 20px;
  }
}

.admin-games__single-reward-player-selected {
  display: flex;
  gap: 10px;
  .admin-games__single-reward-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
    object-fit: cover;
  }
  .admin-games__single-reward-info {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e4e3e3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch-checkbox:checked + .slider {
  background-color: #2196f3;
}

.switch-checkbox:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.switch-checkbox:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
