.c-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  h2 {
    margin-block-start: 20px;
    margin-block-end: 0;
  }
  .btn-send-transfer {
    background-color: #455f52;
    color: white;
    margin-top: 10px;
  }
}
