.c-modal-content {
  display: flex;
  width: 70vw;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  h2 {
    margin-block-start: 20px;
    margin-block-end: 0;
  }
  .btn-send-transfer {
    background-color: #455f52;
    color: white;
    margin-top: 10px;
    margin-bottom: 25px;
  }
}

.transfer-form {
  background-color: #bb9e77;
  border-radius: 8px;
  padding: 4px 15px;
  border: 2px solid #816c50;
  p {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .transfer-cat {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 14px;
  }
}
