.c-modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0px;
  z-index: 13;
  display: none;
  transform: translateZ(3em);
}

.c-modal {
  background-color: burlywood;
  width: 86vw;
  height: 86vh;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 15;
  transform: translate(-50%, -50%) translateZ(3em);
  padding: 10px;
  display: flex;
  justify-content: center;

  .c-modal--cross {
    width: 30px;
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 16;
    background-color: rgba(255, 255, 255, 0.5);
    transform: translateZ(3em);
    border-radius: 50%;
    cursor: pointer;
  }
}

.modal--open {
  display: block;
}
