.shop-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
  background-color: var(--warm-brown);
  padding: 10px 1.5vw;
}

.happy-hour-sticky {
  position: fixed;
  background-color: black;
  color: white;
  padding: 3px 10px;
  border-radius: 0 0 5px 5px;
  transform: translateX(-50%);
  left: 50%;
  width: max-content;
  z-index: 3;
  top: 60px;
}
