.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 80px;
  .user-avatar-container {
    position: relative;
    margin-bottom: 15px;
    .user-avatar {
      width: 40vw;
      max-width: 200px;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
      border: 2px solid black;
    }
    .user-avatar-overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      > img {
        width: 50px;
        height: 50px;
      }
      > img:first-child {
        position: absolute;
        bottom: -6px;
        right: -6px;
      }
      > img:nth-child(2) {
        position: absolute;
        top: -6px;
        right: -6px;
      }
      > img:nth-child(3) {
        position: absolute;
        top: -6px;
        left: -6px;
      }
      > img:nth-child(4) {
        position: absolute;
        bottom: -6px;
        left: -6px;
      }
    }
  }

  p {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .transfer-button {
    margin-top: 15px;
    background-color: var(--primary-color);
    color: var(--dark-brown);
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: min-content;
  }
}

.logout-button {
  background-color: var(--dark-brown);
  color: white;
  position: fixed;
  bottom: calc(20px + env(safe-area-inset-bottom, 0));
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
}

.save-username-btn {
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.username-input {
  background-color: transparent;
  border: 1px solid #27231e;
  border-radius: 4px;
  padding: 3px 5px;
}
