.logo-viking-games {
  width: 250px;
}

.home-view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.home-wrap {
  background-color: var(--warm-brown);
  border: 1px solid var(--primary-color);
  padding: 1.5rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home-op {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  width: 100%;
}

.home-op span {
  color: white;
}

.home-button {
  background-color: var(--primary-color);
  color: var(--dark-brown);
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: min-content;
  margin: 0 auto;
}

.home-button:hover {
  background-color: var(--dark-brown);
  color: white;
}
